absl-py
annotated-types
anyio
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
contourpy
cycler
deepface
dlib
exceptiongroup
face-recognition
face_recognition_models
facenet-pytorch
fastapi
filelock
fire
Flask
Flask-Cors
flatbuffers
fonttools
fsspec
gast
gdown
google-pasta
greenlet
grpcio
grpcio-tools
gunicorn
h11
h5py
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
mtcnn
namex
networkx
numpy
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
pydantic
pydantic_core
Pygments
pyparsing
PySocks
python-dateutil
pytz
requests
retina-face
rich
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
uvicorn
Werkzeug
wrapt
zipp